body {
	/* background-color: #151515; */
	background-color: #222222;
	color: white;
}

.calculator {
	display: flex;
	flex-direction: column;
	margin: 32px;
	width: 460px;
	height: 640px;
	border-radius: 20px;
	overflow: hidden;
	outline: 2px solid #454647;
	outline-offset: -2px;

	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;

	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
	/* box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; */
}

.screen {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 25%;
	background: #454647;
	flex: none;
}

.sys-buttons {
	display: flex;
	gap: 16px;
	margin: 16px 0px 0px 16px;

	align-self: flex-start;
}

.sys-buttons button {
	width: 24px;
	height: 24px;
	border-radius: 500px;
	border-style: none;
}

.red {
	background: #ff5f57;
}
.yellow {
	background: #febc2e;
}
.green {
	background: #27c840;
}

.result {
	margin: 0px 28px 10px 0px;
	font-size: 96px;
	align-self: flex-end;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	height: 100%;

	grid-template-areas:
		"special special special operator"
		"number number number operator"
		"number number number operator"
		"number number number operator"
		"number number number operator";
}

/* all buttons */
.special,
.number,
.dot,
.operator,
.equals {
	border-style: solid;
	border-color: #454647;
	border-width: 1px;
	color: white;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 46px;
}

.specials {
	grid-area: special;
	display: flex;
}

.special {
	background: #575859;
	flex: 1;
	font-size: 38px;
}

.numbers {
	grid-area: number;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.number,
.dot {
	background: #737474;
}

.zero {
	grid-column: 1 / 3;
	grid-row: 4 / 5;
}

.operators {
	grid-area: operator;

	display: flex;
	flex-direction: column-reverse;
}

.operator,
.equals {
	background: #ff9f09;
	flex: 1;
}
